body {
    /* font-family: 'Sriracha', cursive; */
    background-color: lightgray;
    background-image: url(https://cdn.pixabay.com/photo/2020/03/07/09/18/landscape-4909221_960_720.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    margin: 0;
}